.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--secondary);
}

.card button {
  padding: 10px;
}

.card label:first-of-type {
  color: var(--secondary);
}

.link {
  width: fit-content;
  color: var(--secondary);
  font-weight: bold;
  font-size: var(--label);
}
